.contact-container{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    align-items: center;
}
.left-side{
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-box{
    /* color: white; */
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    height: 450px;
    border-radius: 12px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.bold-text{
    font-weight: 500;
}