.feature-container{
    width: 100%;
    height: 100vh;
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
}
.features-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
}
.features{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    justify-content: space-between;
}